/* add your styles here */
body {
	background: url("https://github.com/4GeeksAcademy/css-tutorial-exercises-course/blob/master/.learn/assets/background-vertical.jpg?raw=true")
		repeat-y;
	padding-left: 20px;
}

* {
	font-family: "Times New Roman";
}
h1 {
	font-family: "Courier";
	color: red;
	text-align: center;
}

h2 {
	text-decoration: underline;
}

#id1 {
	background: white;
	opacity: 0.2;
	padding: 5px;
}

a:hover {
	color: green;
	text-decoration: none;
}
